@using DotnetProjet5.ViewModels
@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Liste des véhicules";
}

<h2>Vehicle List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
          
          
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finish)
            </th>
           
          
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            
            
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
               
                
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finish)
                </td>
               
             
                <td>
                    @Html.DisplayFor(modelItem => item.ImageFile)
                </td>
               
                
                <td>
                    @Html.DisplayFor(modelItem => item.SellPrice)
                </td>
            </tr>
        }
    </tbody>
</table>