@using DotnetProjet5.ViewModels
@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Nos Voitures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="container align-items-center">
    <h1>Nos Voitures</h1>
    <div class="d-flex justify-content-center">
        <a asp-area="" asp-controller="Vehicles" asp-action="Create" class="btn btn-primary mb-3 d-flex">+ Ajouter une Voiture</a>
    </div>
    <div class="row  row-cols-1 row-cols-md-2 g-3  ">

        @foreach (var item in Model)
        {
            <div class="col ">
                <div class="card  " style="max-width: 594px;">
                    <div class="row ">
                        <div class="col-md-7">
                            <img src="@item.ImageUrl" alt="Image de @item.Model" class="img-fluid rounded-start" alt="@Html.DisplayFor(modelItem => item.Model)">
                        </div>
                        <div class="col-md-3 ">
                            <div class="card-body lh-sm  ">
                                
                                <p class="card-text " style="font-size: 22px">@Html.DisplayFor(modelItem => item.SellPrice) €</p>

                                <p class="card-text  fw-light" style="font-size: 18px">@item.Year.ToString("yyyy")</p>
                                                                                                        

                                <p class="card-text  fw-light" style="font-size: 18px">@Html.DisplayFor(modelItem => item.Brand)</p>
                                
                                <p class="card-text  fw-light" style="font-size: 18px">@Html.DisplayFor(modelItem => item.Model)</p>

                                <p class="card-text  fw-light" style="font-size: 18px">@Html.DisplayFor(modelItem => item.Finish)</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</div>