@model IEnumerable<DotnetProjet5.Models.ViewModels.RepairViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int vehicleId = ViewBag.VehicleId;

    // Assuming the Model is not empty and all repairs are for the same vehicle
    var firstRepair = Model.FirstOrDefault();
    var vehicleBrand = ViewBag.Vehicle.Brand ?? "Unkown";
    var vehicleModel = ViewBag.Vehicle?.Model ?? "Unknown";
    var vehicleYear = ViewBag.Vehicle?.Year.Year ?? 0;
}

<h1 class="custom-mt mb-5">Liste des réparations pour le véhicule @vehicleBrand @vehicleModel (@vehicleYear)</h1>

<p>
    
    <a asp-action="Create" asp-controller="Repairs" asp-route-id="@vehicleId" class="btn btn-custom mb-5" aria-label="Ajouter une réparation">Nouvelle Réparation</a>
</p>
<table class="table" aria-describedby="liste des réparations">
    <caption class="overflow-hidden" id="repair-table-description">Liste des réparations</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.First().RepairCost)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepairCost)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RepairId" asp-route-vehicleId="@vehicleId" class="text-black" aria-label="Modifier la réparation @item.RepairId">Modifier</a> |

                    <a asp-action="Delete" asp-route-id="@item.RepairId" asp-route-vehicleId="@vehicleId" class="text-black" aria-label="Supprimer la réparation @item.RepairId">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
