@model DotnetProjet5.ViewModels.VehicleViewModel

@if (Model != null)
{
    <div class="col">
        <a href="@Url.Action("Details", "Vehicles", new { id = Model.VehicleId })" class="text-decoration-none text-dark" aria-label="Voir les détails du véhicule @Model.Model">
            <div class="card border-0" role="region" aria-labelledby="vehicle-details-@Model.VehicleId">
                <div class="row">
                    <div class="col-md-7">
                        <img src="@Model.ImageUrl" alt="Photo de la voiture @Model.Brand @Model.Model, année @Model.Year" class="img-fluid rounded" style="object-fit: cover;width:594px; height: 316px;">
                    </div>
                    <div class="col-md-3">
                        <div class="card-body lh-sm">
                            <p id="vehicle-details-@Model.VehicleId" class="card-text text-nowrap" style="font-size: 22px">@Html.DisplayFor(modelItem => modelItem.SellPrice) €</p>
                            <p class="card-text fw-light" style="font-size: 18px">@Model.Year</p>
                            <p class="card-text fw-light" style="font-size: 18px">@Html.DisplayFor(modelItem => modelItem.Brand)</p>
                            <p class="card-text fw-light" style="font-size: 18px">@Html.DisplayFor(modelItem => modelItem.Model)</p>
                            <p class="card-text fw-light" style="font-size: 18px">@Html.DisplayFor(modelItem => modelItem.Finish)</p>
                            @if(Model.Selled)
                            {
                                <p class="card-text fw-bolder text-danger" style="font-size: 25px">Vendu</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
}
else
{
    <p>Les détails du véhicule ne sont pas disponibles.</p>
}
