@using DotnetProjet5.Models.ViewModels
@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "Liste des vehicules";
}

<h1>liste des vehicules</h1>

<p>
    <a asp-action="Create">Ajouter un véhicule</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Code VIN
            </th>
            <th>
                Année
            </th>
            <th>
                Marque
            </th>
            <th>
                Modèle
            </th>
            <th>
                Finition
            </th>
            <th>
                disponibilité
            </th>
            <th>
                date de disponibilité
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.CodeVin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Availability)
                </td>
                <td>
                    @if (item.Availability)
                    {
                        @Html.DisplayFor(modelItem => item.AvailabilityDateFormatted)
                    }
                    else
                    {
                        <span>en préparation</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CodeVin">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CodeVin">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CodeVin">Delete</a>|
                    <a class="nav-link text-dark" asp-area="" asp-controller="Repairs" asp-action="Create" asp-route-codeVin="@item.CodeVin">ajouter une reparation</a>

                </td>
            </tr>
        }
    </tbody>
</table>
